<align>
<img src="css/images/polyglot.jpg" alt="Polyglot" class="displayed">
  <br>
  <br>
    <%if @final_text%>
  <%=@final_text[0][0][0]%>
  <%end%>
  <br>
  <br>
  
    <center><form action="/translate" method ="POST">
      <black><span class="select-wrapper"><select name="original_language"> 
        <option selected disabled>Starting Language</option>
        <%@languages[0].each do |language|%>
          <option value="<%=language[1]%>"><%=language[2]%></option>
        <%end%>
        </select></span></black>
      
      <black><input type="text" name="original_text" placeholder="Insert text to be translated"><black>
        <black><select name="original_text">
        <option selected disabled>Previous Translations</option>
        <%x=1%>
        <%@all_translations = Translation.where(user_id: session[:user_id])%>
        <%@all_translations.reverse.each do |translation|%>
          <%x+=1%>
          <%if x <= 11%>
            <option value="<%=translation.original_text%>"> Original Text: <%=translation.original_text%> </option>
          <%end%>
        <%end%>
      </select></black>
        
      <black><select name="final_language">
        <option selected disabled>Desired Language</option>
        <%@languages[0].drop(1).each do |language|%>
          <option value="<%=language[1]%>"><%=language[2]%></option>
        <%end%>
      </select></black>
      
      
      
      
      
      
      <black><input type="submit" value="Enter"></black>
   </form><center>
 

  <align>

