<h1> Welcome to Polyglot </h1>

  <br>
  <br>
    <%if @final_text%>
  <%=@final_text[0][0][0]%>
  <%end%>
  <br>
  <br>
  
    <form action="/translate" method ="POST">
      <select name="original_language">
        <option selected disabled>Language of text</option>
        <%@languages[0].each do |language|%>
          <option value="<%=language[1]%>"><%=language[2]%></option>
        <%end%>
      </select>
  
      <select name="final_language">
        <option selected disabled>Desired Language</option>
        <%@languages[0].drop(1).each do |language|%>
          <option value="<%=language[1]%>"><%=language[2]%></option>
        <%end%>
      </select>
      
      <input type="text" name="original_text" placeholder="Insert text to be translated">
      
      <select name="original_text">
        <option selected disabled>Previous Translations</option>
        <%x=1%>
        <%@all_translations = Translation.where(user_id: session[:user_id])%>
        <%@all_translations.reverse.each do |translation|%>
          <%x+=1%>
          <%if x <= 11%>
            <option value="<%=translation.original_text%>"> Original Text: <%=translation.original_text%> </option>
          <%end%>
        <%end%>
      </select>
      
      <input type="submit" value="Enter">
   </form>


